{% extends "home.html" %}
{% block content %}
<h2>Enviar Mensajes</h2>
<form action="{{ url_for('enviar_mensajes_') }}" method="post">
  <div class="inputs">
    <input type="text" name="mensaje" placeholder="Mensaje" required>
    <select name="chatId" required>
      <option value="">Seleccione un usuario</option>
      {% for usuario in usuarios %}
      <option value="{{ usuario[1] }}">{{ usuario[2] }}</option>
      {% endfor %}
    </select>
    <button type="submit">Enviar</button>
  </div>
</form>
{% if mensaje %}
<div style="color: gold;">{{ mensaje }}</div>
{% endif %}
{% endblock %}