{% extends "home.html" %}
{% block content %}
<h2>Estado del Servicio</h2>
{% if estado == 1 %}
<div style="color:greenyellow;">El servicio está activo</div>
<form action="{{ url_for('estado_servicio_') }}" method="post">
  <div class="inputs">
    <input type="text" name="notas" placeholder="Escriba aquí su mensaje informativo" required />
  </div>
  <button type="submit">DESACTIVAR SERVICIO</button>
</form>
{% else %}
<div style="color: red;">El servicio está inactivo por: {{ notas }}</div>
<form action="{{ url_for('estado_servicio_') }}" method="post">
  <input type="hidden" name="notas" placeholder="Mensaje informativo" />
  <button type="submit">ACTIVAR SERVICIO</button>
</form>
{% endif %}
{% endblock %}