{% extends "home.html" %}
{% block content %}
<h2>getStatusWebhook</h2>
<table border="1">
    <thead>
        <tr>
            <th>OK?</th>
            <th>URL</th>
            <th>IP_address</th>
            <th>Messages Pending</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if data %}
        <tr>
            <td>
                {{ data["ok"] }}
            </td>
            <td>
                {{ data["result"]["url"] }}
            </td>
            <td>
                {{ data["result"]["ip_address"] }}
            </td>
            <td>
                {{ data["result"]["pending_update_count"] }}
            </td>
            <td>
                <form action="{{ url_for('deleteWebhook_') }}" method="get">
                    <button type="submit">deleteWebHook</button>
                </form>
            </td>
            <td>
                <form action="{{ url_for('setWebhook_') }}" method="post">
                    <button type="submit">setWebhook</button>
                </form>
            </td>
        </tr>
    </tbody>
    {% else %}
    {% endif %}
    {% if error %}
    <div style="color: gold;">{{ error }}</div>
    {% endif %}
</table>
{% endblock %}