{% extends "home.html" %}
{% block content %}
<h2>Listado de Opciones</h2>
<table border="1">
  <thead>
    <tr>
      <th>OPCIÓN</th>
      <th>TEXTO</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% if opciones %}
    {% for opcion in opciones %}
    <tr>
      <form action="{{ url_for('editar_opcion_') }}" method="post">
        <td>
          <input type="hidden" name="id" value="{{ opcion[0] }}">
          <input type="text" name="opcion" value="{{ opcion[1] }}" required>
        </td>
        <td>
          <input type="text" name="texto" value="{{ opcion[2] }}" placeholder="Escriba aquí el mensaje para la opción"
            required>
        </td>
        <td>
          <button type="submit">Actualizar</button>
        </td>
      </form>
    </tr>
    {% endfor %}
  </tbody>
  {% if mensaje %}
  <div style="color: gold;">{{ mensaje }}</div>
  {% endif %}
  {% else %}
  <div>No hay opciones</div>
  {% endif %}
</table>
{% endblock %}