<body>
  <div>
    {% extends "home.html" %}
  </div>
  <div>
    {% block content %}
    <h2>Listado de Usuarios</h2>
    <table border="1">
      <thead>
        <tr>
          <th>CHAT_ID</th>
          <th>FIRST_NAME</th>
          <th>ESTADO</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if usuarios %}
        {% for usuario in usuarios %}
        <tr>
          <form action="{{ url_for('activar_desactivar_usuario_') }}" method="post">
            <td>
              <input type="hidden" name="id" value="{{ usuario[0] }}">
              <input type="text" name="chat_id" value="{{ usuario[1] }}">
            </td>
            <td>
              <input type="text" name="first_name" value="{{ usuario[2] }}">
            </td>
            <td>
              {% if (usuario[3] == 1) and (usuario[4] == 0) %}
              <div style="color: greenyellow;">Activo</div>
              <input type="hidden" name="estado" value="1">
              {% else %}
              <div style="color: red;">Inactivo</div>
              <input type="hidden" name="estado" value="0">
              {% endif %}
            </td>
            <td>
              {% if (usuario[3] == 1) and (usuario[4] == 0) %}
              <input type="submit" value="Desactivar">
              {% else %}
              <input type="submit" value="Activar">
              {% endif %}
            </td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
      {% if mensaje %}
      <div style="color: gold;">{{ mensaje }}</div>
      {% endif %}
      {% else %}
      <div>No hay usuarios</div>
      {% endif %}
    </table>
    {% endblock %}
  </div>
</body>

</html>